<!-- the form_with helper by default is using AJAX to submit the form -->
<!-- We can disable it by setting to local option to true -->
<%= form_with(model: event, local: true) do |f| %>

  <%= render "shared/errors", object: event %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :description %>
  <%= f.text_area :description, rows: 5 %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :starts_at %>
  <%= f.datetime_select :starts_at, {ampm: true}, {class: "datetime"} %>

  <%= f.label :capacity %>
  <%= f.number_field :capacity %>

  <%= f.label :main_image %>
  <%= f.file_field :main_image %>

  <%= f.label "Categories" %>
  <div class="checkboxes">
    <%# the collection_check_boxes takes 4 parameters %>
    <%# the first is the name of attribute of the event (this will be included in the params hash) %>
    <%# the second is the collection of object we want checkboxes for %>
    <%# the third is the value to use for the checkbox input (the id) %>
    <%# the fourth is the text to be displayed next to the checkbox %>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>

  <%= f.submit %>
<% end %>